/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CODE */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elite Hacker (Corroded)';
    src: url('fonts/EliteHackerCorroded.woff2') format('woff2'),
        url('fonts/EliteHackerCorroded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font: monospace;
    --secondary-font: "Roboto";

    --secondary-color: crimson;
}

* {
    font-family: var(--main-font);
}

body {
    display: flex;
    background-color: black;
}

.imageColumn {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    width: 40vw;
    height: 100vh;

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)), url(images/soldier.jpg);
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
}

.imageLegend {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 5px;
}

.banner {
    position: absolute;
    top: 33%;

    font-size: 5vw;
    font-family: 'Elite Hacker (Corroded)';
    letter-spacing: 1rem;
    text-align: center;

    width: 40vw;

    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
}

span.underlined {
    text-decoration: underline;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 60vw;
    height: 100vh;

    background-color: black;
}

.contentText {
    font-size: 1.5rem;
    line-height: 1.5;
    color: white;
    
    width: 50vw;
}

.impactPhrase {
    margin-top: 1.5rem;
}

.sign-up-form {
    align-self: flex-start;
    margin-left: 8.5%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 40vw;

    font-family: var(--secondary-font);
    font-weight: bold;

    color: white;
    background-color: #111;
    box-shadow: 0.3rem 0.3rem 0.2rem #333;

    padding: 5%;
    border-radius: 0.7rem;
}

h1 {
    font-size: 1.7rem;
}

.formRow {
    display: flex;
    /* justify-content: space-between; */
    gap: 3rem;
    

    color: #999;
    letter-spacing: 0.1rem;
}

.formItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

input {
    width: 15vw;
    max-height: 6vh;

    border: 2px solid transparent;
    border-radius: 0.3rem;
    padding: 4%;
}

label {
    white-space: nowrap;
    margin-bottom: 0.05rem;
}

button {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 1.5rem;

    color: white;
    background-color: var(--secondary-color);

    border: none;
    border-radius: 5px;
    padding: 1rem 5rem;
    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background-color: darkred;
}

button:active {
    background-color: red;
    box-shadow: inset 0px 4px 8px rgba(255, 255, 255, 0.5);
}

.account {
    align-self: flex-start;
    margin-left: 8.5%;
}

.account p {
    color: #999;
    margin-top: 1rem;
}

span.login {
    color: var(--secondary-color);
    cursor: pointer;
}

span.login:hover {
    color: darkred;
}

input[type="password"]:invalid {
    border: 0.15rem solid crimson;
}

input:valid {
    border: 0.15rem solid seagreen;
}

input:focus {
    outline: none;
    border: 0.15rem solid blue;
    box-shadow: 0 0 0.5rem #555;
}

@media (max-width: 900px) {
    .imageColumn {
        position: absolute;
        z-index: -1;
    }

    .contentColumn {
        width: 100vw;

        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url(images/bope.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .contentText {
        width: 80vw;
    }

    .sign-up-form,
    .account {
        align-self: center;
        margin: 0;
    }

    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputContainer{
        width: 50vw;
    }

    .formRow {
        width: 100%;
        gap: 5%;
    }
    
    input {
        width: 100%;
    }
}

@media (max-width: 626px) {
    .formRow {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contentText {
        font-size: 1rem;
        line-height: 1.5;
        color: white;
        text-align: center;
    }

    button {
        padding: 2vw 5vw;
    }
}

@media (max-width: 426px) {
    .inputContainer {
        width: 70vw;
    }

    .inputContainer h1 {
        font-size: 1.3rem;
    }

    button {
        font-size: 1.3rem;
    }

    .formRow {
        
    }
}